.pp-container {
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pp-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pp-container i {
    font-size: 100px;
}

.p-users-name-container, .p-users-age-container, .p-username-container,.p-email-container, .p-contact-container {
    margin: 20px;
}

.p-users-age-container {
    width: 70px;
}

.p-general-font-size {
    font-size: 20px !important;
}

.pBtnsContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.p-address-container textarea {
    width: 50vw !important;
}