.container {
    background-color: white;

    padding: 20px;
  
}

.header {
    background-color: maroon;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.product-image {

    width:100%;

    max-width: 100%;
    border-radius: 5px;
}

.thumb-img {
    width: 110px;
    height:90px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumb-img.active {
    border-color: maroon;
}

.price {
    color: maroon;
    font-size: 32px;
    margin-bottom: 10px;
}

.btn-maroon {
    background-color: maroon;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-maroon:hover {
    background-color: darkred;
}

.btn-buy-now {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
}

.btn-buy-now:hover {
    background-color: darkred;
}

.price-tag {
    background-color: maroon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}





.scroll-container {
    width: 100%;  /* Adjust this to your container width */
    max-height: 100px;  /* Adjust this to control the height of the scrollable area */
    overflow-x: auto;  /* Enables horizontal scrolling */
    white-space: nowrap;  /* Prevents wrapping of images to the next line */
}

.scroll-container img {
    max-height: 80px;  /* Adjust this to control the size of the images */
    display: inline-block;  /* Keeps images inline */
}
