.maroon{
  background-color:rgb(131, 0, 0);
}

.top-nav {
  height: 70px;
  width: 100%;
}

.top-nav a img {
  height: 45px;
  width: 45px;
}

.btn-profile {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: none;
  border: none;
  padding: 0;
}

.btn-profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
