.color_red{
    color: #760106;
}

.status-active{
    background-color: #E9FBE6;
    color: #7ABE74;
    border-radius: 15px;
}

.status-warning{
    background-color: #fbf1e6;
    color: #bea374;
    border-radius: 15px;
}

.status-disable{
    background-color: #fbe6e6;
    color: #be7474;
    border-radius: 15px;
}